body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    text-align: center;
    padding-top: 50px;
}

form {
    background: rgb(236, 225, 225);
    padding: 20px;
    display: inline-block;
    border-radius: 10px;
}

input {
    display: block;
    margin: 15px auto;
    padding: 10px;
    width: 500px;
}

button {
    padding: 10px 50px;
    cursor: pointer;
}

.gender-box {
    width: 500px;
    height: 40px;
    font-size: 16px;
}
